<!DOCTYPE html>
<html>
	<head>
		<title>Register View</title>
	</head>

	<body>
		<h1>This is the register view.</h1>

		<form action="/register" method="POST">
			<label for="first-name">First name: </label>
			<input id="first-name" name="first-name" type="text" />
		</form>
	</body>
</html>